/* Customize CSS by st4zz */

html {
	position: relative;
}

body {
	word-wrap: break-word;
	font-family: Fredoka One;
	background-image: url(https://i.loli.net/2020/04/30/pQSmfjGsRWxJF4z.jpg) !important;
	padding-bottom: 0px;
	background-position: center top !important;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
}

nav {
	font-family: Fredoka One;
	text-decoration: none;
	text-shadow: 1px 1px 7px #2445b6;
}

.panel {
	color:#fff;
	text-shadow: 1px 1px 5px #000;
	background-color: hsla(226,67%,43%,.6);
	border-color:#2445b6;
}

.panel hr {
	border-top-color:#2445b6;
}

.panel h4 {
	font-family: Lobster;
	text-decoration: none;
	color:#fff;
	text-shadow: 1px 1px 5px #2445b6;
}

.panel th, td {
	color: #fff;
}

.panel .alert-link {
	color:#0b2e13;
}

.modal-body {
	color:#000;
	text-shadow: 1px 1px 5px #2445b6;
}

.bg-drive {
	background-color: hsla(226,67%,43%,.2)!important
}

a.bg-drive:focus,a.bg-drive:hover,button.bg-drive:focus,button.bg-drive:hover {
	background-color:#2445b6!important
}

.notice {
	font-family: Stazz;
	color:#000;
	text-shadow: 1px 1px 9px #2445b6;
	background-color: hsla(46, 100%, 90%,.4);
	border-color:#2445b6;
}

.notice h5 {
	font-family: Ropa Sans;
	font-weight: bold;
}

.fail {
	color:#000;
	text-shadow: 1px 1px 5px #fff;
	background-color: hsla(0, 73%, 50%,.6);
	border-color:#bd2130;
}

.alert-dark {
	font-family: Stazz;
}

.bg-dark {
	font-family: Ubuntu;
	color: #fff;
}

.bg-dark:hover {
	color: #fff;
}

.bg-stz {
	font-family: Stazz;
	font-size: 15px;
	background-color: hsla(226,67%,43%,.4);
	border-color:#2445b6;
	color: #fff;
	text-shadow: 1px 1px 5px #2445b6;
}

.bg-stz:hover {
	color: #fff;
}

.direct {
	font-family: Play;
}

button a {
	color:#fff;
	text-shadow: 1px 1px 6px #000;
}

button a:hover {
	color:#000;
	text-shadow: 1px 1px 6px #fff;
}

.input-group-text {
	word-wrap: break-word;
	font-family: Ubuntu;
}

footer, footer a {
	color:#fff;
	text-shadow: 1px 1px 5px #2445b6;
}
